In [1]:
import pandas as pd
import seaborn as sns
import datetime as dt
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error


# Libraries for Forecasting
import pandas as pd
import numpy as np
import warnings
import itertools
import matplotlib
import matplotlib.pyplot as plt
import datetime
from pylab import rcParams
import statsmodels.api as sm
from statsmodels.tsa.api import ExponentialSmoothing, SimpleExpSmoothing, Holt
from statsmodels.tsa.stattools import adfuller
from sklearn import preprocessing
from pycaret.regression import *

# Ignore the warning, can comment this 
warnings.filterwarnings("ignore")

# Different Baselines

#### Numero para hacer mas rápido el notebook. (la version final debe llevar número = 100, pero se va a tardar el notebook en correr)

In [2]:
numero = 100

In [3]:
df_repsol = pd.read_csv('df_repsol_wo_FE.csv', index_col=1).drop(columns = ["Unnamed: 0"])
df_repsol["station"] = df_repsol["station"].str[2:]
df_repsol["station"] = df_repsol["station"].astype(int)

In [4]:
le = preprocessing.LabelEncoder()
df_repsol['municipality'] = le.fit_transform(df_repsol["municipality"].values)

In [5]:
df_repsol['producto'] = 0
df_repsol.loc[df_repsol['product'] == '95', 'producto'] = 1

In [6]:
columns_strings = df_repsol.dtypes[df_repsol.dtypes == "object"].index
columns_strings

Index(['product', 'horaracha', 'horatmax', 'horatmin', 'coordinates',
       'provinces'],
      dtype='object')

In [7]:
def r2_rmse(data):
    r2 = r2_score(data['sales_norm'], data['Label'] )
    mae =  mean_absolute_error(data['sales_norm'], data['Label'])
    return pd.Series(dict(mae = mae, r2 = r2))

In [8]:
df_repsol_model = df_repsol.drop(columns = columns_strings)
df_repsol_model.dropna(inplace = True)

In [9]:
global_train = df_repsol_model.loc[(df_repsol_model.index >= '2016-01-01')
                     & (df_repsol_model.index <= '2018-12-31')]

global_test = df_repsol_model.loc[(df_repsol_model.index >= '2019-01-01')
                     & (df_repsol_model.index <= '2019-01-31')]

# 1. Model predictions without Feature Engineering; Global model w/o Feature Engineering using pycaret

We then create a Global Model by testing diferent algorithms such as Lightgbm, Xgboost and Random Forest Regressor

In [10]:
df_repsol_model = df_repsol.drop(columns = columns_strings)
df_repsol_model.dropna(inplace = True)

In [11]:
global_train = df_repsol_model.loc[(df_repsol_model.index >= '2016-01-01')
                     & (df_repsol_model.index <= '2018-12-31')]

global_test = df_repsol_model.loc[(df_repsol_model.index >= '2019-01-01')
                     & (df_repsol_model.index <= '2019-01-31')]

In [12]:
X_train_global = global_train.drop("sales_norm", axis=1)
Y_train_global = global_train["sales_norm"]

X_test_global = global_test.drop("sales_norm", axis=1)
Y_test_global = global_test["sales_norm"]

In [23]:
setup1 = setup(data = global_train,  target = "sales_norm", silent = True)

In [24]:
best_global = compare_models(sort="R2", exclude = ["lar", "huber", "par", "llar", "knn", "lasso", "en"])

In [25]:
evaluate_model(best_global)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'param…

In [26]:
predictions_train_global = predict_model(best_global, data= global_train)

In [27]:
predictions_train_global.groupby('producto').apply(r2_rmse).reset_index()

   producto       mae        r2
0         0  0.130456 -0.009635
1         1  0.085587  0.002660

In [28]:
predictions_test_global = predict_model(best_global, data= global_test)

In [29]:
predictions_test_global.groupby('producto').apply(r2_rmse).reset_index()

   producto       mae        r2
0         0  0.140608 -0.294059
1         1  0.069186  0.137668

# 2. Basline Model using the Sales Lag 7

In [196]:
df_repsol2 = pd.read_csv('df_repsol(3).csv', index_col=1).drop(columns = ["Unnamed: 0"])
df_repsol2["station"] = df_repsol2["station"].str[2:]
df_repsol2["station"] = df_repsol2["station"].astype(int)
le = preprocessing.LabelEncoder()
df_repsol2['municipality'] = le.fit_transform(df_repsol2["municipality"].values)
df_repsol2['producto'] = 0
df_repsol2.loc[df_repsol2['product'] == '95', 'producto'] = 1

In [197]:
columns_strings2 = df_repsol2.dtypes[df_repsol2.dtypes == "object"].index
columns_strings2

Index(['product', 'horaracha', 'horatmax', 'horatmin', 'coordinates',
       'provinces'],
      dtype='object')

In [198]:
def r2_rmse(data):
    r2 = r2_score(data['sales_norm'], data['Label'] )
    mae =  mean_absolute_error(data['sales_norm'], data['Label'])
    return pd.Series(dict(mae = mae, r2 = r2))

In [199]:
df_repsol_model2 = df_repsol2.drop(columns = columns_strings)
df_repsol_model2.dropna(inplace = True)

In [200]:
global_train2 = df_repsol_model2.loc[(df_repsol_model2.index >= '2016-01-01')
                     & (df_repsol_model.index <= '2018-12-31')]

global_test2 = df_repsol_model2.loc[(df_repsol_model2.index >= '2019-01-01')
                     & (df_repsol_model.index <= '2019-01-31')]

In [201]:
df_repsol2[['sales_norm', 'lag7_sales']]

            sales_norm  lag7_sales
date
2016-01-01    0.024927    0.024927
2016-01-02    0.064939    0.024927
2016-01-03    0.069706    0.024927
2016-01-04    0.094124    0.024927
2016-01-05    0.097476    0.024927
...                ...         ...
2019-01-27    0.360448    0.354203
2019-01-28    0.594835    0.620668
2019-01-29    0.546949    0.580848
2019-01-30    0.632972    0.590326
2019-01-31    0.608240    0.610956

[25731 rows x 2 columns]

In [205]:
round(r2_score(global_train2['sales_norm'], global_train2['lag7_sales']),3)

0.623

As expected, the r2 scores for both the training and test set are not very good.

In [209]:
print(f"Training Set R2 score for baseline model: {round(r2_score(global_train['sales_norm'], global_train['lag7_sales']),3)}")

Training Set R2 score for baseline model: 0.623

In [208]:
print(f"Testing Set R2 score for baseline model: {round(r2_score(global_test['sales_norm'], global_test['lag7_sales']),3)}")

Testing Set R2 score for baseline model: 0.632

# 3. Creating a Baseline Model using Linear Regression

Using some more complex methods, we managed to increase the R2 score, this time, using a Linear Regression Model.

In [187]:
X_train_global = global_train2.drop("sales_norm", axis=1)
Y_train_global = global_train2["sales_norm"]

X_test_global = global_test2.drop("sales_norm", axis=1)
Y_test_global = global_test2["sales_norm"]

In [188]:
setup_lr = setup(data = global_train2,  target = "sales_norm", silent = True)

#### Pycaret uses a default CV grid of 10 folds (we set it to 100 to get more consistent results), using 70% of the data as training data and 30% for validation

In [189]:
linear_model = create_model("lr", fold = numero)

In [190]:
predictions_train = predict_model(linear_model, data= global_train2)

In [191]:
predictions_test = predict_model(linear_model, data= global_test2)

#### Grouping by product, we can see the model struggling to predict the GOA sales the most as it gets an R2 of 24% in the test set.

In [192]:
predictions_train.groupby('producto').apply(r2_rmse).reset_index()

   producto       mae        r2
0         0  0.094060  0.438347
1         1  0.035378  0.769300

In [193]:
predictions_test.groupby('producto').apply(r2_rmse).reset_index()

   producto       mae        r2
0         0  0.092289  0.425676
1         1  0.044583  0.616747